<link rel="stylesheet" href="/iti-project/styles/footerStyle.css">
<footer id="footer-container">
      <div id="upper-footer">
        <div class="footer-column">
          <p>company info</p>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Latest Posts</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Shop</a></li>
          </ul>
        </div>

        <div class="footer-column">
          <p>help links</p>
          <ul>
            <li><a href="#">Tracking</a></li>
            <li><a href="#">Order Status</a></li>
            <li><a href="#">Delivery</a></li>
            <li><a href="#">Shipping Info</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>

        <div class="footer-column">
          <p>useful links</p>
          <ul>
            <li><a href="#">Special Offers</a></li>
            <li><a href="#">Gift Cards</a></li>
            <li><a href="#">Advertising</a></li>
            <li><a href="#">Terms of Use</a></li>
          </ul>
        </div>

        <div class="footer-column">
          <p>get in the know</p>
          <form method="post">
            <input type="email" placeholder="Enter email" />
            <button type="submit">&rsaquo;</button>
          </form>
        </div>
      </div>

      <div id="lower-footer">
        <div id="lower-footer-left-side">
          <p id="copy-right">&copy; 2020 NorthStar eCommerce</p>
          <div id="policy">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
          </div>
        </div>
        <div id="lower-footer-right-side">
          <img src="/iti-project/assets/footerVisa.jpg" alt="Visa" />
          <img src="/iti-project/assets/footerMasterCard.jpg" alt="MasterCard" />
          <img src="/iti-project/assets/footerPayPal.jpg" alt="PayPal" />
          <img src="/iti-project/assets/footerVisaElectron.jpg" alt="Visa Electron" />
        </div>
      </div>
    </footer>