<link rel="stylesheet" href="../styles/navbarStyle.css">
<header>
    <nav>
        <div>
            <h1>NorthStar</h1>
        </div>
        <div class="main-nav">
            <ul class="nav-links">
                <li><a href="#" class="links-hover">HOME</a></li>
                <li><a href="#" class="links-hover">ABOUT</a></li>
                <li><a href="#" class="links-hover">CONTACT US</a></li>
            </ul>
        </div>
        <div class="main-nav">
            <ul class="nav-icons">
                <li>
                    <a href="#">
                        <img src="../assets/icons/user 1.png" alt="user">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../assets/icons/shopping-bag 1.png" alt="shopping cart">
                    </a>
                </li>
            </ul>
        </div>
        <div id="menuButton" class="menu-button">
            <img src="../assets/icons/menu 1.png" alt="menu">
        </div>
    </nav>
</header>
<div id="sidebar" class="sidebar">
    <button id="close-sidebar">x</button>
    <ul class="nav-links">
        <li><a href="#" class="links-hover">HOME</a></li>
        <li><a href="#" class="links-hover">ABOUT</a></li>
        <li><a href="#" class="links-hover">CONTACT US</a></li>
    </ul>
    <ul class="nav-icons">
        <li>
            <a href="#">
                <img src="../assets/icons/user 1.png" alt="user">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../assets/icons/shopping-bag 1.png" alt="shopping cart">
            </a>
        </li>
    </ul>
</div>
<script src="../scripts/navbarScript.js"></script>