* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fbfbfb;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
}

li {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

.nav-links {
    font-size: 12px;
    font-weight: 700;
}

.links-hover:hover {
    color: #024E82;
}

.main-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-button {
    display: none;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: white;
    padding-top: 80px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.sidebar .nav-links,
.sidebar .nav-icons {
    align-items: start;
    gap: 15px;
}

.sidebar .nav-icons {
    flex-direction: row !important;
}

.sidebar .nav-links {
    flex-direction: column;
}


.sidebar.active {
    transform: translateX(0);
}

@media (max-width: 768px) {
    .main-nav {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

/* Sidebar Styles */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: white;
    padding-top: 80px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.sidebar .nav-links,
.sidebar .nav-icons {
    flex-direction: column;
    gap: 15px;
}

.sidebar.active {
    transform: translateX(0);
}

#close-sidebar {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}